*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #383e56;
}

header h1{
    font-size: 6rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 5px 5px tomato;
}

header p{
    font-size: 1.5rem;
    color: white;
    animation: instruction 2s linear 2s infinite alternate;
}
@keyframes instruction{
    0%{ transform: scale(1);}
    50%{transform:  scale(1.1);}
    100%{transform: scale(1);}
}

@media only screen and (max-width:620px)
{
    header h1{
        font-size: 4rem;
    }
    header p{
        font-size: 1.1rem;
    }
}



section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section button{
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 9px solid #251f44;
   background-color: #fff;
   border-radius:20px ;
   cursor: pointer;
   outline: none;
   font-size: 4.5rem;
   color: #2f2519;
   text-shadow: 0 2px 2px tomato;
  
}
/* section button:hover{
  box-shadow: 0 10px 10px red;
} */

.tom1{
    background-image: url("images/tom1.png");
}
.tom2{
    background-image: url("images/tom2.png");
}
.tom3{
    background-image: url("images/tom3.png");
}
.tom4{
    background-image: url("images/tom4.png");
}
.snare{
    background-image: url("images/snare.png");
}
.crash{
    background-image: url("images/crash.png");
}
.kick{
    background-image: url("images/kick.png");
}
.contact{
    font-family: 'Damion', cursive;
    text-shadow: 0 5px 5px tomato;
}